/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.addres{
		margin-top: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.wrapper{
		text-align: center;
	}
	.section_wrap{
		text-align: center;
	}
	.sider{
		text-align: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.info_name {
	 	float: left;
	 	margin-left: 30px;
	 	margin-top: 50px;
	}
	.foto_avtor {
    	float: left;
    	padding-bottom: 30px;
	}
	.contact_me {
    	float: right;
    	margin-top: 100px;
	}
	.header{
		padding:30px 30px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}